<div class="d-flex gap-3 justify-content-center" >
    <p-card *ngFor="let item of audioData" [header]="item.header" [subheader]="item.subheader" [style]="{ width: '360px' }" (click)="goToAudio(item.id)">
        <ng-template pTemplate="header">
            <img [src]="item.image" alt="Google Drive Image">
        </ng-template>
        <p>
            {{item.content}}
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="கேளுங்கள்" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
<div [ngSwitch]="viewMode">
<div *ngSwitchCase="1" >
    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 1" src="https://audio.com/embed/audio/1810152214451107?theme=image"
            class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 2" src="https://audio.com/embed/audio/1810160032867727?theme=image"
            class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 3" src="https://audio.com/embed/audio/1810160389842236?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 4" src="https://audio.com/embed/audio/1810160571655058?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 5" src="https://audio.com/embed/audio/1810160712210180?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 6" src="https://audio.com/embed/audio/1810160896624221?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 7" src="https://audio.com/embed/audio/1810161041715950?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 8" src="https://audio.com/embed/audio/1810161118568044?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>
 
    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 9" src="https://audio.com/embed/audio/1810161142633292?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 10" src="https://audio.com/embed/audio/1810161163417858?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 11" src="https://audio.com/embed/audio/1810161181966513?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 12" src="https://audio.com/embed/audio/1810161194525860?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 13" src="https://audio.com/embed/audio/1810161205771235?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 14"src="https://audio.com/embed/audio/1810161216139484?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 15" src="https://audio.com/embed/audio/1810161226073195?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 16" src="https://audio.com/embed/audio/1810161235715319?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 17" src="https://audio.com/embed/audio/1810161247800908?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>

    <div class="flex gap-3 mt-1 bg"><iframe title="chapter 18" src="https://audio.com/embed/audio/1810161257024762?theme=image"
        class="style"></iframe><a href='https://audio.com/hare-krishna-tamil'
            class="anchor">&#64;hare-krishna-tamil</a>
    </div>
</div>
<div *ngSwitchCase="2">
    upanyasam
</div>
<div *ngSwitchCase="3">
    Kirtanam
</div>
<div *ngSwitchCase="4">
    Arati
</div>
</div>