.bg{
    height: 228px; 
    width: 80vw;
    margin-top: 12px;
}

.anchor{
    text-align: center; display: block; color: #A4ABB6; font-size: 12px; font-family: sans-serif; line-height: 16px; margin-top: 8px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}