.container {
    display: flex;
  }
  
  .sidebar {
    background-color: #4a90e2;
    width: 200px;
    padding: 4px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  

  button {
    width: -webkit-fill-available;
  }

.vertical-buttons button.active {
  background-color: #cef562; /* Your desired active color */
  color: #3a0404; /* Text color for active button */

}
